body{
    background-color: black;
    font-family: arial;
    color: white;
}

header {
    border-bottom: 2px solid grey;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: larger;
}


ul {
    display: flex; 
    flex-direction: row;
    list-style: none; 
}

#Logo {
    width: 100px;
    margin-top: 10px;
}

header li {
    margin-top: 25px;
}

a {
    text-decoration: none;
    appearance: none;
}

.Registro {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.Registro:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Registro:active {
  transform: translateY(-1px);
}

#Inicio {
  background-color: white;
  color: black;
}


