body{
    background-color: black;
    font-family: arial;
    color: white;
}

header {
    border-bottom: 2px solid grey;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: larger;
}


header ul {
    display: flex; 
    flex-direction: row;
    list-style: none; 
}

#Logo {
    width: 100px;
    margin-top: 10px;
}

header li {
    margin-top: 25px;
}

header a {
    text-decoration: none;
    appearance: none;
    color: white;
    margin-left: 20px;
}
header a:hover{
    text-decoration: underline;
}
.Registro {
  margin-left: 20px;
  margin-top: -10px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.Registro:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Registro:active {
  transform: translateY(-1px);
}

#Inicio {
  background-color: white;
  color: black;
}

footer{
  background-color:black;
  height: 130px;
  color: white;
}

footer h3{
  margin-top: 10px;
  margin-left: 175px;
  color: gray;
}
footer ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
footer ul li{
  background-color:gray;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  height: 90px;
}
footer ul li img{
  height: 30px;
  margin-top: 5px;
}
#tiktok{
  height: 35px;
  margin-top: 5px;
  margin-bottom: -5px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer ul li a h4{
  margin-top: -10px;
  font-size: 13px;
}
footer ul li a p{
  margin-top: 3px;
  font-size: 13px;
}

footer ul li:hover {
  background-color: #23c483;
}


