body{
    background-color: black;
    font-family: arial;
    color: white;
}


header {
    border-bottom: 2px solid grey;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: larger;
    position: fixed;
    background-color: black;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -4px;
    width: 100%;
    z-index: 1;
}


header ul {
    display: flex; 
    flex-direction: row;
    list-style: none; 
}

#Logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 25%;
}

header li {
    margin-top: 25px;
}

header a {
    text-decoration: none;
    appearance: none;
    color: white;
    margin-left: 20px;
}

li:hover .Entradas{
    text-decoration: underline;
    color: #23c483;
}

.Entradas {
  margin-left: 10px;
}

header ul ul {
  display: none;
  position: absolute;
  padding: 0;
  padding-right: 0px;
  font-size: 80%;
  background-color: black;
  padding-bottom: 20px;
  border-radius: 8px;
  margin-left: -18px;
}

header nav ul li:hover > ul {
  display: block;
}

header ul ul li {
  float: none;
  width: max-content;
  padding-right: 20px;
}

header ul>li>ul>li:hover>a{
  color: #23c483;
}

header ul ul li:hover a ul{
  display: block;
}


header nav ul ul ul {
  top: 0;
  left: 100%;
}

header ul ul ul li a {
  color: white;
}

abbr {
  text-decoration: none;
  appearance: none;
}

.Registro {
  width: auto;
  margin-left: 20px;
  margin-top: -10px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.Registro:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Registro:active {
  transform: translateY(-1px);
}

#Inicio {
  background-color: white;
  color: black;
}

#Inicio:hover {
  color: #23c483;
}

main {
  background-image: url(../img/borde_lateral.png);
  background-position: left;
  background-position-x: left;
  background-repeat: repeat-y;
  background-size: 8%;
  margin-left: -8px;
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.ultima_noticia{
    display :flex;
}
#noticia_principal{
  width: 550px;
  margin-left: 120px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 150px;
  margin-bottom: 30px;
  height: 570px;
  margin-right: 0%;
}

#noticia_principal img{
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: -20px;

}
#noticia_principal a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

#noticia_principal:hover {
  box-shadow: 0px 0px 10px 0px #23c483;
}

#noticia_principal h4{
  text-transform: uppercase;
  padding: 30px;
  margin-top: -15px;
}
#noticia_principal a:hover h4{
  color: #23c483;
}
#noticia_principal p{
  padding: 20px;
  margin-top: -30px;
}
#noticia_principal p:nth-child(3){
  color: gray;
}
#noticia_pricipal div{
  display: flex;
  flex-direction: column;
}

#texto_uzuni {
  margin-bottom: 0%;
}

@media screen and (max-width: 800px) {
  #noticia_principal {
    width: 70%;
    height: 420px;
  }

  #noticia_principal {
    margin-left: 7%;
  }

  #noticia_principal img{
    height: 60%;
    width: 60%;
    padding: 20px;
    padding-bottom: 10px;
    margin-left: 40px;
  }

  #noticia_principal p{
    font-size: 80%;
  }

  #noticia_principal a {
    display: flex;
    flex-direction: column;
  }

  #noticia_principal h4{
    margin-top: -30px;
  }

  #texto_uzuni {
    margin-bottom: 6%;
  }

  #noticia_destacada {
    width: 80%;
  }

  #noticia_destacada img{
    height: 70%;
    width: 70%;
    padding: 20px;
    padding-bottom: 0px;
    margin-left: 70px;
  }

  #noticia_destacada p{
    font-size: 80%;
  }

  #noticia_destacada a {
    display: flex;
    flex-direction: column;
  }

  #noticia_destacada h4{
    margin-top: -30px;
  }

  #like_destacada {
    margin-left: 10%;
    margin-bottom: 5%;
  }
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display:block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
  left: 84%;
  margin-top: -12%;
  margin-right: 100%;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container input:checked ~ .checkmark path {
  fill:#23c483;
  stroke-width: 0;
}

.container input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.container:hover {
  transform: scale(1.1);
}

#like_destacada {
  top: -7%;
  left: 80%;
}
#like_mini{
  margin-top:-25%;
  left: 80%;
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#noticia_destacada{
    width: 70%;
    margin-left: 15%;
    border: 0.2px solid white;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 0;
  }
  
  #noticia_destacada img{
    width: 60%;
    height: 60%;
    padding: 30px;
  }
  #noticia_destacada a{
    display: flex;
    text-decoration: none;
    color: white;
  }
  #noticia_destacada a:hover{
     box-shadow: 0px 0px 10px 0px #23c483;
  }
  #noticia_destacada h4{
    text-transform: uppercase;
    padding: 60px;
    margin-bottom: -40px;
    margin-left: -40px;
  }
  #noticia_destacada a:hover h4{
    color: #23c483;
  }
  #noticia_destacada p{
    padding: 20px;
  }
  #noticia_destacada p:nth-child(3){
    color: gray;
  }
  #noticia_destacada div{
    display: flex;
    flex-direction: column;
  }

  .minis{
    display :flex;
    flex-wrap: wrap;
}
#mini{
  width: 300px;
  margin-left: 10%;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 30px;
  height: 400px;
  margin-right: 0%;
}

#mini img{
  height: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: -20px;

}
#mini a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

#mini:hover {
  box-shadow: 0px 0px 10px 0px #23c483;
}

#mini h4{
  text-transform: uppercase;
  padding: 30px;
  margin-top: -15px;
  margin-bottom: 40px;
}
#mini a:hover h4{
  color: #23c483;
}
#mini p{
  padding: 20px;
  margin-top: -60px;
  margin-bottom: 30px;
}
#mini p:nth-child(3){
  color: gray;
}
#mini div{
  display: flex;
  flex-direction: column;
}
footer{
  border-top: 2px solid grey;
  background-color:black;
  height: 130px;
  color: white;
  margin-top: -1px;
  width: 100%;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 3%;
}

footer h2{
  margin-top: 10px;
  margin-left: 115px;
  color: gray;
  letter-spacing: 3px;
}
footer ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
footer ul li{
  background-color:gray;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  height: 90px;
}
footer ul li img{
  height: 30px;
  margin-top: 5px;
}
#tiktok{
  height: 35px;
  margin-top: 5px;
  margin-bottom: -5px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}
footer ul li a h4{
  margin-top: -10px;
  font-size: 13px;
}
footer ul li a p{
  margin-top: 3px;
  font-size: 13px;
}

footer ul li:hover {
  background-color: #23c483;
}

footer ul li:hover img{
  width: 35%;
  height: 45%;
}