*{
    background-color: rgb(0, 0, 0);
    font-family: arial;
    color: white;
}

header {
    border-bottom: 2px solid grey;
    height: 120px;
    display: flex;
    justify-content: center;
    font-size: larger;
}


ul {
    display: flex; 
    flex-direction: row;
    list-style: none; 
}

#Logo {
    width: 100px;
    margin-top: 10px;
}

header li {
    margin-top: 25px;
}

a {
    text-decoration: none;
}




